<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image" href="https://pngimg.com/uploads/mars_planet/mars_planet_PNG13.png">
    <title>Mission to Mars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>

<body>



    <div class="container">

        <div class="jumbotron text-center">

            <h1>Mission to Mars</h1>

            <p>
            
            <a class="btn btn-lg text-white" style="background-color:#440ec1;" href="/scrape" role="button">Scrape New Data</a>

            </p>
        </div>
        <div class="container">
           <div class="col-md-12"> 
               <div class="navbar-sigline"  align="right" >
                <p>
                    |   Aparna Srikanti   |
                </p>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-12">

                        <h2>Latest Mars News</h2>

                        <hr>

                        <h3>{{ mars.news_title }}</h3>

                        <p>{{ mars.news_paragraph }}</p>

                    </div>

                    <div class="col-md-12">

                        <h2>Featured Mars Image</h2>

                        <img class="img-fluid" src="{{ mars.featured_image_url  }}">

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="row">

                    <div class="col-md-12">

                        <div class="media border border-dark">

                            <div class="media-body my-3 mx-1">

                                <h4>Current Weather on Mars</h4>

                                <p>{{ mars.mars_weather }}

                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 mt-5">

                        <h4>Mars Facts</h4>

                        <hr>

                        {{ mars.mars_facts|safe }}

                    </div>

                </div>

            </div>

        </div>



        <div class="row mt-5">

            <div class="col-md-12 text-center">

                <h2>Mars Hemispheres</h2>

                <hr>

            </div>



        {% for item in mars.hemisphere_image_urls %}

        <div class="col-md-6">

            <figure class="figure">

                <img class="figure-img img-fluid my-1" src="{{ item.img_url }}">

                <figcaption class="figure-caption"><h4>{{ item.title }}</h4></figcaption>

            </figure>

        </div>

        {% endfor %}

    </div>


        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>

